*{
    margin:0;
    padding: 0;
   
}

#tarjeta1:hover{
    box-shadow: 5px 5px 20px;
    transform: translateY(-5%);

}



body{
    background-image: url("/images/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  }

  
#letra{
    font-weight: bold;
    font-family: Verdana;
    font-size: 30px;
    color:beige;
}

#card-color{
    background-color: #e8cb9a;
    color: black;
    padding-left: 10px;
    padding-right:10px;
    padding-top: 10px;
}

#head{
    height: 78px;
    background-image: linear-gradient(315deg, rgb(109, 110, 182) 0%, #38204C 75%);
}

#tituloApp{
    font-family: Verdana;
    font-size: 80px;
    font-weight: bold;
    margin-top: 10px;
}

#footer{
    padding: 0%;
    background-color:#38204c95;
    color:beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tituloFooter2, .tituloFooter1,#nombre{
    font-size: 30px;
}

.descripcionFooter, #enlace{
    font-size: 20px;
}

#formulario {
    padding: 20px 30px;
    margin:auto;
    border-radius: 7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

#descripcion {
    max-height: 200px;
    min-height: 200px;
  }

  #btnRegistrar{
    width: 30%;
    margin:auto;
    border-radius:15px;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border:none;
  }
#boton-reclamos{
    background-color: #e8cb9a;
    border:none;
    border-radius: 5px;
    padding: 2px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
  