
body{
  background-image: url("/images/fondoLista.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.container-fluid {
  padding: 0%;
  background-color: #11192bd3;
  
  color:beige;
}
