@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color:#FEAD5B;
}
.content{
    margin: 5%;
    margin:auto;
    margin-top: 75px;
    background-color: #fff;
    padding: 4rem 1rem 4rem 1rem;
    box-shadow: 0 0 5px 5px rgba(0,0,0, .05);
  
    align-items: start;
    width: 700px;
    height: 350px;
}
.center-h {
    justify-content: center;
  }
.center-v {
    align-items: center;
}


.signin-text{
    font-style: normal;
    font-weight: 600 !important;

}
.form-control{
    display: block;
    width:100%;
    font-size: 1rem;
    font-weight: 400;
    line-height:1.5;
    border-color: #00ac96 !important;
    border-style: solid !important;
    border-width: 0 0 1px 0 !important;
    padding: 0px !important;
    color:#495057;
    height: auto;
    border-radius: 0;
    background-color: #fff;
    background-clip: padding-box;
}


.form-control:focus{

    color: #495057;
    background-color: #fff;
    border-color: #fff;
    outline: 0;
    box-shadow: none;
}
.birthday-section{
    padding: 15px;
}
.btn-class{
    border-color: #00ac96;
    color: #00ac96;
}
.btn-class:hover{
    background-color:  #00ac96;
    color: #fff;
}

  .container-fluid {
    padding: 0%;
    background-image: linear-gradient(315deg, #2E3040 0%, #2E3040 75%);
    border-bottom: 2px solid beige ;
    
    color:beige;
 }
  
  

  
#tituloApp, #letra, #btnEF{
    font-family: Verdana;
 }
 
 
 
 .TodosTitulo{
     font-size: 48px !important;
     text-align: center !important;
 }
 
 #letra,#btnEF{
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
 }
 #volver {
    min-width: 130px;
    height: 40px;
    position: absolute;
    top: 34px;
    left: 30px;
    color: #fff;
    padding: 0px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: Verdana;
    font-size: 25px;
    border:none;
    border-radius: 5px;
    background-size: 120% auto;
  }
  
#volver:hover {
    background-position: right center;
    border-radius: 5px;
    padding-right: 24px;
    padding-left: 8px;
    
}
  
#volver:active {
    left: 1px;
}
  
#volver:hover:after {
    opacity: 1;
    right: 10px;
}
  
#volver:after {
    content: "\00AB";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 40px;
    top: 0;
    right: -20px;
    transition: 0.4s;
}
  

 
 

   
 

  