.container-fluid {
  padding: 0%;
  border-bottom: 2px solid #FDFDFD ;
  color:beige;
}

body {
  background-image: url("../img/galeria/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

#centrar{
  text-align: center;
}
