:root {
    --bg-c-1: #484c67;
    --bg-c-2: #37394e;
    --orange: #e98850;
    --blue: #01567d;
    --green: #44de00;
    --dark-gray: #c4c4c4;
    --light-gay: #fdfdfd;
}

* {
    box-sizing: border-box;
    font-family: Verdana !important;
    font-style: Verdana !important;
    list-style: none;
}
#nombreEjercicio{
 font-size: 28px; 
 color: white;
 text-align: center;
 margin: 0;
 padding: 0;
 line-height: 1;
 font-weight: 700;
 letter-spacing: 1px;
}

body {
    background-image: url("../img/galeria/fondoRutina.png");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;

}


/*Contenedor de 10seg y ¡Preparate!*/
.title {
    color: black;
    font-size: 6rem;
    text-align: center;
    margin: 4vh 0;
}

/*Texto ¡Preparate!*/
h4 {
    text-align: center;
    font-size: 85px !important;
}

/*Sub contenedor de 10seg-Preparate*/
.inputs-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    transition: all 0.2s ease;
}

.inputs-container:hover {
    transition: all 0.2s ease;
}

.input-group {
    padding: 0rem;
}

/*
label.roundTime {
    font-size: 1.1rem;
    color: var(--red);
}*/

label.restTime {
    font-size: 1.1rem;
    color: var(--orange);
}


#again {
    color: white !important;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*
.workout-timer-container {
    width: 600px;
}*/

/*Contenedor PLOMO secction de ejercicio-descanso-cronometro*/
.group {
    height: 80vh;
    width: 75vh;
    margin: 100px 0px 0px;
    background-color: var(--dark-gray);
    justify-content: space-evenly;
}

.group {
    display: none;
}

/*Tamaño cronometro*/
.active {
    font-size: 15vh;
    display: flex;
}

.active>.round,
.active>.rest {
    top: 25px;
    font-size: 10vh;
}

/*Caja span cronometro de Ejercicio-descanso*/
.round-time,
.rest-time {
    color: black;
    border-radius: 5px;
    transition: all 0.2s ease;
}


/*Animacion de tiempo 10seg de preparacion*/
.animateSeconds {
    /*color: var(--red);
    animation: animateTime 1s ease;*/
    font-size: 65px;
}

/*Circulo plomo de 10 seg preparacion*/
.circulo-preparacion {
    color: black;
    width: 200px;
    height: 190px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: var(--dark-gray);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border: none;
    font-size: 40px;
}

/*Cuadrado plomo de !Preparate!*/
.caja-preparacion {
    background: var(--dark-gray);
    top: 10px;
    width: 520px;
    height: 120px;
}

#volver {
    display: none;
}

/*
@keyframes animateTime {
    from {
      opacity: 1;
      transform: scale(0);
    }
    to {
      opacity: 0;
      transform: scale(1);
    }
  }
*/
#start {
    visibility: hidden;
}

/*botones de la pagina fin de rutina*/
#repetir {
    color: black;
    width: 200px;
    height: 190px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ef6603;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border: none;
    font-size: 35px;
    position: relative;
    top: 33%;

}

#listaEjerFinRutina {
    color: black;
    width: 200px;
    height: 190px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #ef6603;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border: none;
    font-size: 35px;
    position: relative;
    top: 33%;
    padding-top: 35px;
}

#listaEjerFinRutina:hover {
    background: #fc8129;
}

/*
#listaEjerFinRutina{
  display: flex;
  align-items: center;
}*/

#repetir:hover {
    background: #fc8129;
}

#divdefelicitacion {
    height: 75vh;
    width: 70vh;
    margin: 100px;
    background-color: var(--dark-gray);
    justify-content: center;
    padding: 30px;
    text-align: center;
}

.felicitacion {
    position: relative;
    top: 3%;
    margin-top: 12px;
}

#imagentrofeo {
    height: 350px;
    width: 700px;
    /*viene con limite ya la imagen, no es 800*/
}

    

/*=======================WEB RESPONSIVE=========================*/
@media screen and (max-width: 1056px) {
    /*========EL TROFEO, SU DIV Y BOTONES ================*/
    #divdefelicitacion {
        height: 50vh;
        width: 50vh;
        margin: 5%;
        margin-top: 25%;
        margin-left: 0%;
        position: relative;
        background-color: var(--dark-gray);
        justify-content: center;
        padding: 4%;
        text-align: center;
        align-items: center;
    }
    
    .felicitacion {
        top: 2%;
        text-align: center;
    }
    
    #imagentrofeo {
        height: 40vh;
        width: 50vh;
        padding-top: 2%;
    }

    #repetir {
        margin-top:50%;
        width: 160px;
        height:160px;
        margin-right: 5%;
        font-size: 30px;
    }
    #listaEjerFinRutina{
        margin-top:50%;
        width: 160px;
        height:160px;
        margin-right: -5%;
        font-size: 30px;
    }
    /*==================================================*/
    /*---LA PARTE DE LOS EJERCICIOS Y EL DESCANSO---*/
    .group{
        max-width: fit-content;
        padding: auto;
        left: 40%;
    } 
    section.group.flex {
        padding:3%;
        
    }
    .active>.round{
        padding: 5%;
    }
    .group.flex.active{
        height:100%;
        margin-top:50%;
    }
    /*---------------------------------------------*/ 

}


@media screen and (max-width: 993px) {
    /*body{
        background-image: url('../img/galeria/fondoRutina-small.png');
    }*/

    #nombreEjercicio{
        color: white;
        text-align: center;
        margin: 0;
        padding: 0;
        line-height: 1;
        font-weight: 700;
        letter-spacing: 1px;
    }
     
    /*========EL TROFEO, SU DIV Y BOTONES ================*/
    #divdefelicitacion {
        height: 50vh;
        width: 50vh;
        margin: 5%;
        margin-top: 50%;
        margin-left: 0%;
        position: relative;
        background-color: var(--dark-gray);
        justify-content: center;
        padding: 4%;
        text-align: center;
        align-items: center;
    }
    
    .felicitacion {
        top: 2%;
        text-align: center;
    }
    
    #imagentrofeo {
        height: 30vh;
        width: 30vh;
        padding-top: 3%;
        /*viene con limite ya la imagen, no es 800*/
    }

    #repetir {
        margin-top:60%;
        width: 150px;
        height:150px;
        margin-left: 15%;
        font-size: 30px;
    }
    #listaEjerFinRutina{
        margin-top:60%;
        width: 150px;
        height:150px;
        margin-left: -15%;
        font-size: 30px;
    }
    /*==================================================*/
    
    /*---LA PARTE DE LOS EJERCICIOS Y EL DESCANSO---*/
    .group{
        max-width: fit-content;
        padding: auto;
        left: 40%;
    } 
    section.group.flex {
        padding:10%;
        
    }
    .group.flex.active{
        height:100%;
        margin-top:50%;
    }
    /*---------------------------------------------*/ 
}    

@media screen and (max-width: 600px) {
    * {
        list-style: none;
    }

    body {
        background-size: cover;
        background-position: center;
        padding: 0%;
        margin: 0%;
        left: 40px;
    }

    /*=====ESTE ES PARA  EL 10 SEG Y PREPARATE====== */
    .inputs-container{
        flex: 1;
        max-width: 70%;
        min-width: 40%;
        left: 5%;
        right: 5%;
        padding: 10%; 
        margin-left: 15%;
        font-size: 20%;
        margin-right: 15% ;
    }

    .circulo-preparacion {
        margin-top: 30%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 30px;
        font-size: 30px;
    }

    .caja-preparacion h4{
        font-size: 3rem;
        margin-left: 5%;
    }
    /*================================================*/

    /*========EL TROFEO, SU DIV Y BOTONES ================*/
    #divdefelicitacion {
        height: 45vh;
        width: 45vh;
        margin: 5%;
        margin-top: 30%;
        margin-left: 0%;
        position: relative;
        background-color: var(--dark-gray);
        justify-content: center;
        padding: 4%;
        text-align: center;
        align-items: center;
    }
    
    .felicitacion {
        top: 4%;
        text-align: center;
    }
    
    #imagentrofeo {
        height: 30vh;
        width: 30vh;
        padding-top: 3%;
    }
    
    #repetir {
        margin-top:220%;
        width: 125px;
        height:125px;
        margin-left: -25%;
        font-size: 20px;
    }
    #listaEjerFinRutina{
        margin-top:220%;
        width: 125px;
        height:125px;
        margin-left: 25%;
        font-size: 20px;
    }
    /*==================================================*/   
    
     /*---LA PARTE DE LOS EJERCICIOS Y EL DESCANSO---*/
    .group{
        max-width: fit-content;
        padding: auto;
        left: 40%;
    } 
    section.group.flex {
        padding:10%;
        
    } 
    .group.flex.active{
        height:55%;
        margin-top:50%;
    }
    .title{
        top: 50%;
        zoom: 70%;
    }
    /*=================================================*/
}

 
@media screen and (max-width: 469px) {
    body{
        /*background-image: url("../img/galeria/fondoRutina-small.png");*/
        background-size: cover; 
        background-position: center;
        list-style: none;
    }

    #nombreEjercicio{
       color: white;
        text-align: center;
        margin: 0;
        padding: 0;
        font-weight: 400;
        letter-spacing: 1px;
    }
    
    /*===========EL TROFEO, SU DIV Y BOTONES =============*/
    #divdefelicitacion {
        height: 40vh;
        width: 40vh;
        margin: 5%;
        margin-top: 30%;
        margin-left: 0%;
        position: relative;
        background-color: var(--dark-gray);
        justify-content: center;
        padding: 4%;
        text-align: center;
        align-items: center;
    }
    
    .felicitacion {
        top: 0%;
        text-align: center;
    }
    
    #imagentrofeo {
        height: 30vh;
        width: 30vh;
        padding-top: 3%;
    }
    #repetir {
        margin-top:200%;
        width: 125px;
        height:125px;
        margin-left: -80%;
        font-size: 20px;
    }
    #listaEjerFinRutina{
        margin-top:200%;
        width: 125px;
        height:125px;
        margin-left: 80%;
        font-size: 20px;
    }
    /*==================================================*/

    /*---LA PARTE DE LOS EJERCICIOS Y EL DESCANSO---*/
    section.group.flex {
        padding:10%;
        margin-left:1%;
    }
    .group{
        max-width: fit-content;
        padding: auto;
        left: 40%;
    } 
    .group.flex.active{
        height:50%;
        margin-top:50%;
    }
    /*==================================================*/
}


@media screen and (max-width:414px) {
    /*===========EL TROFEO, SU DIV Y BOTONES =============*/
    #divdefelicitacion {
        margin-left: 10%;
    }
    #repetir {
        margin-top:300%;
        width: 125px;
        height:125px;
        margin-left: -70%;
        font-size: 20px;
    }
    #listaEjerFinRutina{
        margin-top:300%;
        width: 125px;
        height:125px;
        margin-left: 110%;
        font-size: 20px;
    }
    /*==================================================*/
    /*Contenedor de 10seg y ¡Preparate!*/

    /*Texto ¡Preparate!*/
    h4 {
        text-align: center;
        font-size: 50px !important; 
    }

    /*Sub contenedor de 10seg-Preparate*/
    .inputs-container {
        justify-content: center;
        width: 80%;
        padding: 1rem;
        border-radius: 5px;
    }
    .caja-preparacion{
        width: 170%;
    }
    
}
@media screen and (max-width: 375px) {
    #nombreEjercicio{
        color: white;
         text-align: center;
         margin: 0;
         padding: 0;
         line-height: 1;
         font-weight: 500;
         letter-spacing: 1px;
     }
    /*===========EL TROFEO, SU DIV Y BOTONES =============*/
    #divdefelicitacion {
        height: 40vh;
        width: 40vh;
        margin: 5%;
        margin-top: 30%;
        margin-left: 0%;
        position: relative;
        background-color: var(--dark-gray);
        justify-content: center;
        padding: 4%;
        text-align: center;
        align-items: center;
    }
    
    .felicitacion {
        top: 4%;
        text-align: center;
    }
    
    #imagentrofeo {
        height: 30vh;
        width: 30vh;
        padding-top: 3%;
    }
    #repetir {
        margin-top:205%;
        width: 125px;
        height:125px;
        font-size: 20px;
        margin-left: -60%;
    }
    #listaEjerFinRutina{
        margin-top:205%;
        width: 125px;
        height:125px;
        font-size: 20px;
        margin-left: 60%;
    }
    /*==================================================*/
    /*Contenedor de 10seg y ¡Preparate!*/

    /*Texto ¡Preparate!*/
    h4 {
        text-align: center;
        font-size: 50px !important; 
    }

    /*Sub contenedor de 10seg-Preparate*/
    .inputs-container {
        justify-content: center;
        width: 80%;
        padding: 1rem;
        border-radius: 5px;
    }
    .caja-preparacion{
        width: 160%;
    }
}