
*{
  text-decoration: none  !important;
}
body{
  background-image: url("../img/galeria/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}



#marco{
  width: 100%;
  height: 33%;
  background-color: beige;
  background-color: #3A4764;
  border:none;
  
}

#nombres{
  padding-top: 8%;
}
/*
#header{
  width: 100%;
  padding: 0%;
  background-color: #11192bd3;
  text-align: center;
  color:beige;
}
*/
#card {
  width: 100%;
  padding: 0%;
  background-color: #FD7E14;
  text-align: center;
  color:beige;
  text-decoration: none  !important;
}

#card:hover {
 
  background-color: #2E3040;
  /*background-color: #3C4F76;*/
  
  text-decoration: none  !important;
}

#marco:hover {
 
  background-color: #2E3040;
  /*background-color: #3C4F76;*/
  
  text-decoration: none  !important;
}


h1{
  text-decoration: none !important;
}

#img {
  width: 300px;
  height: 200px;
  
}

#imgModal {
  width: 500px;
  height: 300px;
  
}

#boton-modal{

  font-family: "Open Sans", sans-serif;
  border:none;
  padding: 0%;
  background-color: black;
}

#btnCerrar {
  width: 40%;
  margin: auto;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 15px;
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
  border: none;
}

#modalId{
  background-color: #FD7E14;
}

#letras{
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

#tituloModal{
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
