
*{
  text-decoration: none  !important;
  box-sizing: border-box;
  font-family: Verdana !important;
  font-style: Verdana !important;
}

h1{
  color:white;
}
  body{
    background-image: url("../img/galeria/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
  }



#marco{
  width: 100%;
  height: 33%;
  background-color: #3A4764;
  border:none;
  
}
 
#nombres{
  /*Lineas nuevas*/
  font-size: 40px;
  font-family: Arial;
  display: flex;
  align-items: center;
  justify-content: center;        
}

/*
#header{
  width: 100%;
  padding: 0%;
  background-color: #11192bd3;
  text-align: center;
  color:beige;
}
*/
#card {
  width: 100%;
  padding: 0%;
  
  text-align: center;
  color:white;
  text-decoration: none  !important;
}
  

#marco:hover {
 
  background-color: #2E3040;
  /*background-color: #3C4F76;*/
  
  text-decoration: none  !important;
}

/*Titulo de la pagina*/


#img {
  width: 300px;
  height: 200px;
  
}

#imgModal {
  width: 500px;
  height: 300px;
  
}

#boton-modal{

  font-family: "Open Sans", sans-serif;
  border:none;
  padding: 0%;
  /*background-color: black;*/
}

#btnCerrar {
  width: 40%;
  margin: auto;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 15px;
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
  border: none;
  background-color: #FD7E14;
}

#modalId{
  background-color: #FD7E14;
}

#letras{
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

#tituloModal{
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}


@media screen and (max-width: 1200px){
  h1{
    font-size: 30px;
    line-height: 50px;
    text-align: right;
  }

  body{
    /*background-image: linear-gradient(rgb(215, 208, 200),rgb(182, 171, 165));*/
    background-image: url("../img/galeria/fondo-small.png");
  }

  #card{
    width: 90%;
    padding: 0%;
    text-align: center;
    color:white;
    text-decoration: none  !important;
  }

  #img {
    /*
    max-width: 80%;
    width: 700px;
    margin: 2% 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;*/
    height: auto;
    max-width: 100%;
  }
  #nombres{
    font-size: 35px;
    display: flex;
    text-align: center;
    
  }
  #nombres.col-6{
    justify-content: center;
    align-items: center;
  }

  #modalId{
    margin-left: 5%;
    margin-right: 5%;
  }
  #tituloModal{
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    text-align: center;
  }

  #imgModal {
    width: 50%;
    height: 30%;    
  }

  #boton-modal{
    font-family: "Open Sans", sans-serif;
    border:none;
    padding: 0%;
    background-color: black;
  }

  #btnCerrar {
    width: 40%;
    margin: auto;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 15px;
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    border: none;
  }
}

@media screen and (max-width: 980px){
  h1{
    font-size: 30px;
    line-height: 50px;
    text-align: right;
  }

  body{
    /*background-image: linear-gradient(rgb(215, 208, 200),rgb(182, 171, 165));*/
    background-image: url("../img/galeria/fondo-small.png");
  }

  #card{
    width: 90%;
    padding: 0%;
    text-align: center;
    color:white;
    text-decoration: none  !important;
  }

  #img {
    /*
    max-width: 80%;
    width: 700px;
    margin: 2% 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;*/
    height: auto;
    max-width: 100%;
  }
  #nombres{
    font-size: 25px;
    display: flex;
    text-align: center;
    
  }
  #nombres.col-6{
    justify-content: center;
    align-items: center;
  }

  #modalId{
    margin-left: 5%;
    margin-right: 5%;
  }
  #tituloModal{
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    text-align: center;
  }

  #imgModal {
    width: 50%;
    height: 30%;    
  }

  #boton-modal{
    font-family: "Open Sans", sans-serif;
    border:none;
    padding: 0%;
    background-color: black;
  }

  #btnCerrar {
    width: 40%;
    margin: auto;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 15px;
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    border: none;
  }
}

@media screen and (max-width: 600px){
  h1{
    font-size: 30px;
    line-height: 50px;
    text-align: right;
  }

  body{
    /*background-image: linear-gradient(rgb(215, 208, 200),rgb(182, 171, 165));*/
    background-image: url("../img/galeria/fondo-small.png");
  }

  #card{
    width: 90%;
    padding: 0%;
    text-align: center;
    color:white;
    text-decoration: none  !important;
  }

  #img {
    /*
    max-width: 80%;
    width: 700px;
    margin: 2% 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;*/
    height: auto;
    max-width: 100%;
  }
  #nombres{
    font-size: 20px;
    display: flex;
    text-align: center;
    
  }
  #nombres.col-6{
    justify-content: center;
    align-items: center;
  }

  #modalId{
    margin-left: 5%;
    margin-right: 5%;
  }
  #tituloModal{
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    text-align: center;
  }

  #imgModal {
    width: 50%;
    height: 30%;    
  }

  #boton-modal{
    font-family: "Open Sans", sans-serif;
    border:none;
    padding: 0%;
    background-color: black;
  }

  #btnCerrar {
    width: 40%;
    margin: auto;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 15px;
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    border: none;
  }
}


@media screen and (max-width: 360px){
  h1{
    font-size: 30px;
    line-height: 50px;
    text-align: right;
  }

  body{
    /*background-image: linear-gradient(rgb(215, 208, 200),rgb(182, 171, 165));*/
    background-image: url("../img/galeria/fondo-small.png");
  }

  #card{
    width: auto;
    height: auto;
    padding: 0%;
    text-align: center;
    color:white;
    text-decoration: none  !important;
  }

  #img {
    /*
    max-width: 80%;
    width: 700px;
    margin: 2% 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;*/
    padding: 5%;
    height: 100%;
    max-width: 100%;
    align-items: center;
  }
  #nombres{
    font-size: 15px;
    text-align: center;
    display: flex;
    align-items: center;
  }
  #nombres.col-6{
    justify-content: center;
    align-items: center;
  }

  #modalId{
    margin-left: 5%;
    margin-right: 5%;
  }
  #tituloModal{
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    text-align: center;
  }

  #imgModal {
    width: 50%;
    height: 30%;    
  }

  #boton-modal{
    font-family: "Open Sans", sans-serif;
    border:none;
    padding: 0%;
    background-color: black;
  }

  #btnCerrar {
    width: 40%;
    margin-top: auto;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 15px;
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    border: none;
  }
}



