@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.content{
    margin: 20%;
    margin:auto;
    margin-top: 75px;
    background-color: #fff;
    padding: 4rem 1rem 4rem 1rem;
    box-shadow: 0 0 5px 5px rgba(0,0,0, .05);
    
    align-items: start;
    width: 700px;
    height: 350px;
}



.signin-text{
  font-style: bolder;
  font-weight: 900 !important;
  font-family: Verdana !important;
}

.container-fluid {
    padding: 0%;
    background-image: linear-gradient(315deg, #2E3040 0%, #2E3040 75%);
    border-bottom: 0px solid beige ;
    
    color:beige;
 }

 .TodosTitulo{
     font-size: 48px !important;
     text-align: center !important;
     font-family: Verdana !important;
     color: white;
 }
 
 #letra,#btnEF{
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
 }



body {
    font-family: Verdana !important;
    background: #FEAD5B; 
 
  }
  
  #contenedor{
     
      width: 850px;
      position: relative;
      margin-top: 12%;
      background: #2E3040;
      padding: 0px;
      border-radius: 7px;
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 10%;
  }

  #login{
    width: 100%;
    color: #FDFDFD;
    background: #2E3040;
    /*arriba-derecha-abajo-izquierd*/
    padding: 0px 40px 0px 20px;
    margin: auto;
    border-radius: 7px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
  }

  #contenedorLogo{
    width: 80%;
    color: #FDFDFD;
    background: #2E3040;
    padding:0px;
    margin: auto;
    border-radius: 7px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
  }

  .logo_img{
    width: 100%;   
    
  
  }
  
  /*.form{
      padding: 10px;
  }*/
  
  
  /*.form__clave{
      width: 100%;
      margin-bottom: 40px;
      position: relative;
  }
  .form__usuario{
      font-size: 20px;
  
  }*/
  .usuario{
    border: none;
    outline: none;
      background: #C4C4C4;
      
  }

  .clave{
    border: none;
    outline: none;
    background: #C4C4C4;
    
}

#ver_clave{
  /*position: absolute;
  right: 25px;
  bottom: 104px;*/
  cursor: pointer;
  font-size: 20px;
}
/*margin-top: 27px  !important;
    margin-bottom: 5px;*/
  .boton{
    background: #FD7314;
    padding: 5px 25px;
    color: white;
    border-radius: 10px !important;
    border: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    transition: 0.3s;

    margin-top: 10px  !important;
    margin-bottom: 0px;
}
.boton:hover{
  background-color: #C4C4C4
}

#acceder{
  margin-top: 30px !important;
  margin-bottom: 0px !important;
}


    h1{
        color:white;
        font-weight: bold;
    }  
    /*--------------------------------------------------------------
    # Disable AOS delay on mobile para ver menu en responsive
    --------------------------------------------------------------*/
    @media screen and (max-width: 768px) {
      [data-aos-delay] {
        transition-delay: 0 !important;
      }
     
      
    }
    /*--------------------------------------------------------------
    # Header
    --------------------------------------------------------------*/
    #header {
      height: 70px;
      transition: all 0.5s;
      z-index: 997;
      transition: all 0.5s;
      background: #2E3040
      ;
    }
   
  
    #header .logo h1 a, #header .logo h1 a:hover {
      color: #fff;
      text-decoration: none;
    }
   
    
    /*--------------------------------------------------------------
    # Navigation Menu
    --------------------------------------------------------------*/
    /**
    * Desktop Navigation 
    */
    .navbar {
      padding: 0;
    }
    .navbar ul {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;
      align-items: center;
    }
    .navbar li {
      position: relative;
    }
    .navbar a, .navbar a:focus {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 37px 5px 37px;
      margin-right: 10vh;
      font-size: 22px;
      color: #fff;
      white-space: nowrap;
      transition: 0.3s;
      border-radius: 10px;
    }
    .navbar a i, .navbar a:focus i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
    }
    .navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
      background: #ef6603;
    }
    .navbar .dropdown ul {
      display: block;
      position: absolute;
      left: 5px;
      top: calc(100% + 30px);
      margin: 5px 0 0 0;
      padding: 10px 0;
      z-index: 99;
      opacity: 0;
      visibility: hidden;
      background: #fff;
      box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
      transition: 0.3s;
      border-radius: 15px;
    }
    .navbar .dropdown ul li {
      min-width: 200px;
    }
    .navbar .dropdown ul a {
      padding: 10px 20px;
      color: #2a2c39;
      margin: 0 5px;
      font-size: 14px;
    }
    .navbar .dropdown ul a i {
      font-size: 12px;
    }
    .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
      color: #fff;
    }
    .navbar .dropdown:hover > ul {
      opacity: 1;
      top: 100%;
      visibility: visible;
    }
    .navbar .dropdown .dropdown ul {
      top: 0;
      left: calc(100% - 30px);
      visibility: hidden;
    }
    .navbar .dropdown .dropdown:hover > ul {
      opacity: 1;
      top: 0;
      left: 100%;
      visibility: visible;
    }
    @media (max-width: 1366px) {
      .navbar .dropdown .dropdown ul {
        left: -90%;
      }
      .navbar .dropdown .dropdown:hover > ul {
        left: -100%;
      }
    }
    
    /**
    * Mobile Navigation 
    */
    .mobile-nav-toggle {
      color: #fff;
      font-size: 28px;
      cursor: pointer;
      display: none;
      line-height: 0;
      transition: 0.5s;
    }
    
    @media (max-width: 991px) {
      .mobile-nav-toggle {
        display: block;
      }
    
      .navbar ul {
        display: none;
      }
    }
    .navbar-mobile {
      position: fixed;
      overflow: hidden;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background: rgba(20, 21, 28, 0.9);
      transition: 0.3s;
      z-index: 999;
    }
    .navbar-mobile .mobile-nav-toggle {
      position: absolute;
      top: 15px;
      right: 15px;
    }
    .navbar-mobile ul {
      display: block;
      position: absolute;
      top: 55px;
      right: 15px;
      bottom: 15px;
      left: 15px;
      padding: 10px 0;
      border-radius: 10px;
      background-color: #fff;
      overflow-y: auto;
      transition: 0.3s;
    }
    .navbar-mobile a, .navbar-mobile a:focus {
      padding: 10px 20px;
      margin: 5px;
      font-size: 15px;
      color: #2a2c39;
    }
    .navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
      color: #fff;
    }
    .navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
      margin: 15px;
    }
    .navbar-mobile .dropdown ul {
      position: static;
      display: none;
      margin: 10px 20px;
      padding: 10px 0;
      z-index: 99;
      opacity: 1;
      visibility: visible;
      background: #fff;
      box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    }
    .navbar-mobile .dropdown ul li {
      min-width: 200px;
    }
    .navbar-mobile .dropdown ul a {
      padding: 10px 20px;
    }
    .navbar-mobile .dropdown ul a i {
      font-size: 12px;
    }
    .navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
      color: #fff;
    }
    .navbar-mobile .dropdown > .dropdown-active {
      display: block;
    }
    
    @media (max-width:991px){
    

      .logo_img{
        width: 100%; 
        height: 415px; 
      }

      #acceder{
        margin-top: 25px !important;
        margin-bottom: 0px !important;
      }
    } 
   

    @media screen and (max-width:769px){
     
      #contenedor{
        margin-top: 100px;
        width: 90%;
        height: 80% ;
        flex-direction:column;
      
        align-items: center;
        height: auto;
    }
    .logo_img{
      margin-top: 50px;
      height: auto;
    }

    .clave{
      width: 85%;
      
    } 
    
    .form__usuario{
      margin-left: 20px;
    }
    
    .boton{
        margin-bottom:20px;
    }

    #login{
      
      /*arriba-derecha-abajo-izquierd*/
      padding: 0px 20px 0px 20px;
     
    }

    .boton{
      margin-top: 10px  !important;
      margin-bottom: 0px;
  }
  #acceder{
    margin-top: 20px !important;
    margin-bottom: 30px !important;
  }

  } 
    
  @media (max-width:767px){
     
    .clave{
      width: 82%;
      
    }  
  } 
  
  @media (max-width:460px){
    .logo_img{
      margin-top: 30px;
    }
    .clave{
      width: 79%;
      
    }  
  } 

    
  @media (max-width:420px){
    .logo_img{
      margin-top: 20px;
    }

    .clave{
      width: 77%;
      
    }  
  }