:root {
    --w: calc(70vw / 6);
    --h: calc(70vh / 4);
}

* {
    transition: all 0.5s;
}

body {
    padding: 0;
    margin: 0;
    perspective: none;
    -webkit-perspective: 1000;
    background:powderblue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Verdana;
}

.area-tarjeta {
    display: inline-block;
}

#tablero {
    text-align: center;
}

.area-tarjeta,
.tarjeta,
.cara {
    cursor: pointer;
    width: var(--w);
    min-width: 100px;
    height: var(--h);
}

.tarjeta {
    position: relative;
    transform-style: preserve-3d;
    animation: iniciar 5s;
}

.cara {
    position: absolute;
    backface-visibility: hidden;
    box-shadow: inset 0 0 0 5px white;
    font-size: 500%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trasera {
    background-color: lightcyan;
    transform: rotateY(180deg);
}

.superior {
    background: linear-gradient(orange, darkorange);
}

.boton {
    cursor: pointer;
    background: linear-gradient(orange, darkorange);
    padding: 20px;
    border-radius: 50px;
    border: white 5px solid;
    font-size: 130%;
    margin: 0.5em;
}

.botones {
    display: flex;
    justify-content: center;
    text-align: center;
}

@keyframes iniciar {

    20%,
    90% {
        transform: rotateY(180deg);
    }

    0%,
    100% {
        transform: rotateY(0deg);
    }
}


@media screen and (max-width:838px) {
    :root {
        --w: calc(60vw / 4);
        --h: calc(70vh / 4);  
    }
} 

@media screen and (max-width:628px) {
    :root {
        --w: calc(80vw / 4);
        --h: calc(70vh / 4);  
    }
} 

@media screen and (max-height:500px) {
    .cara {
        font-size: 320%;
    }
}

@media screen and (max-width:425px){
    .botones {
        flex-direction: column;
    }
}