:root {
    --w: calc(70vw / 6);
    --h: calc(70vh / 4);
}

* {
    transition: all 0.5s;
}

body {
    padding: 0;
    margin: 0;
    perspective: none;
    -webkit-perspective: 1000;
    background:rgb(49, 104, 167) !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Verdana;
}

.area-tarjeta {
    display: inline-block;
}

h3 {
    flex: auto;
    text-align: center;
}
.modal-backdrop {
    /* bug fix - no overlay */    
    display: none;    
}

#tablero {
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.area-tarjeta,
.tarjeta,
.cara {
    cursor: pointer;
    width: var(--w);
    min-width: 100px;
    height: var(--h);
}

.tarjeta {
    position: relative;
    transform-style: preserve-3d;
    animation: iniciar 5s;
}

.cara {
    position: absolute;
    backface-visibility: hidden;
    box-shadow: inset 0 0 0 5px white;
    font-size: 500%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trasera {
    background-color: lightcyan;
    transform: rotateY(180deg);
}

.superior {
    background: linear-gradient(orange, darkorange);
}

.btn-primary {
    background: linear-gradient(orange, darkorange);
    border-radius: 50px !important;
    border-color: white !important;
    padding: 10px !important;
    color: black !important;
}

.boton {
    cursor: pointer;
    background: linear-gradient(orange, darkorange);
    padding: 20px;
    border-radius: 50px;
    border: white 5px solid;
    font-size: 130%;
    margin: 0.5em;
}

#cerrar {
    cursor: pointer;
    background: linear-gradient(orange, darkorange);
    padding: 20px;
    border-radius: 50px;
    border: white 5px solid;
    font-size: 90%;
    margin: 0.5em;
}

.botonMenu {
    cursor: pointer;
    background: linear-gradient(orange, darkorange);
    padding: 20px;
    border-radius: 50px;
    border: white 5px solid;
    font-size: 150%;
    margin: 0.5em;
}

.botones {
    display: flex;
    justify-content: center;
    text-align: center;
}

.botonesMenu {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

/*Para el modal de instrucciones*/
.fondo_transparente{
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.226);
    position: absolute;
    height: 100%;
    width: 100%;
    display: none;
}
.modal{
    background: #ffffff;
    width: 600px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*position: relative;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
}

.modal_titulo{
    color:  black;
    font-size: 40px;
    margin-top: 55%;
    text-align: center;
}

.modal_mensaje{          
   text-align: initial;
   height: 500px;
}
.modal_cerrar{      
   width: 100%;    
   background: #ffffff;
   display: flex;
   justify-content: space-evenly;
}

p{
    color: black;
}

@keyframes iniciar {

    20%,
    90% {
        transform: rotateY(180deg);
    }

    0%,
    100% {
        transform: rotateY(0deg);
    }
}

.boton:hover{
    box-shadow: 5px 5px 20px;
    transform: translateY(-5%);
}

@media screen and (max-width:700px), (max-height:700px) {
    :root {
        --w: calc(60vw / 4);
        --h: calc(70vh / 4);  
    }
} 

@media screen and (max-width:628px) {
    :root {
        --w: calc(80vw / 4);
        --h: calc(70vh / 4);  
    }
} 

@media screen and (max-height:500px) {
    .cara {
        font-size: 320%;
    }
}

@media screen and (max-width:425px){
    .botones {
        flex-direction: column;
    }
}

@media screen and (max-height:840px){
    .modal_mensaje {
        height: 750px;
    }
}

@media screen and (max-height:728px){
    .modal_mensaje {
        height: 650px;
    }
}

@media screen and (max-height:546px){
    .modal_mensaje {
        height: 550px;
    }
}

@media screen and (max-height:500px){
    .modal_mensaje {
        height: 430px;
    }
}

@media only screen and (max-width: 650px) {
    .modal{
        width: 360px;
    }
    .modal_titulo{
        margin-top: 150%;
    }
}