*{
    box-sizing: border-box;
   
  }
  h1{
    color:white;
    font-weight: bold !important;
  }
  
  body {
    background: #FEAD5B; 
    font-family: Verdana !important;
    font-style: Verdana !important;
  }

  #formulario{
    width: 40%;
    color: #FDFDFD;
    background: #2E3040;
    padding: 20px 30px;
    margin: auto;
    border-radius: 7px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
  }
  
  #formularioAM{
    width: 520px;
    
    color: #FDFDFD;
    background: #2E3040;
    padding: 20px 30px;
    margin: auto;
    border-radius: 7px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
  }
  
  
  #formGif {
    background-color: rgb(255, 255, 255, 0);
    border: none;
    box-sizing: border-box;
    color: #FD7314;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  #seleccione {
    box-sizing: border-box;
    padding: 6px 10px;
    background-color: #FDFDFD;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
  }
  
  #descripcion {
    max-height: 200px;
  }
  
  
  
  #letra {
    /* 
    font-size: 60px;
    margin-top: 10px;*/
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-weight: bold;
  }
  
  #btnRegistrar {
    width: 40%;
    margin: auto;
    margin-bottom: 8px;
    margin-top: 8px;
    padding: 5px;
    border-radius: 10px;
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    border: none;
    background-color: #FD7314;
  }
  #btnRegistrar:hover {
      
      /*border-radius: 5px;*/
     
      color: black;
      transition: all 0.3s ease;
      top:15px;
      background-color: #C4C4C4
  }

  #ver_clave,#ver_clave2{
      
    cursor: pointer;
    font-size: 20px;
}
  
  .invalid-feedback{
    color: #FD7314;
  }

 
  
  @media screen and (max-width: 550px){
    #formularioAM{
      width: 90%;
    }

    #btnRegistrar {
      width: 70%;
      
    }
  }
  
  