/*
    boton Volver
       color---> Azul
    pagina home
        letra -> home encabezado
        tituloApp -> long old live +
        btn-EF -> ejercicios fisicos boton
    
    ejercicios fisicos
        letra -> ejercicios fisicos encabezado
        lista ->lista de ejercicios(boton)
        registrar -> registrar ejercicio

    Lista de ejercicios 
        letra-> Lista de ejercicios encabezado
    
    Registrar ejercicios 
    
*/

#tituloApp, #letra, #btnEF{
   font-family: "Open Sans", sans-serif;
}

#tituloApp{
    font-size: 80px;
    font-weight: bold;
}

.TodosTitulo{
    font-size: 48px !important;
    text-align: center !important;
}

#letra,#btnEF{
   font-size: 30px;
   font-weight: bold;
   margin-top: 15px;
}

#volver {
    min-width: 130px;
    height: 40px;
    position: absolute;
    top: 15px;
    left: 30px;
    color: #fff;
    padding: 0px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    border:none;
    border-radius: 50px;
    background-size: 120% auto;
    background-color: #FD7314;
  }
  


#lista, #registrar, #rutinas{
    text-align: center;
    border:none;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px; 
    top:2px;
    color: white;
    background-color:#FD7314;
}

#lista:hover ,#registrar:hover ,#rutinas:hover{
       top:15px;
       background-color: #2E3040;
}

#botones{
    margin-top: 10%;
    align-content: center;
}

@media screen and (max-width: 600px){
  #volver{
    position: fixed;
    min-width: 50px;
    height: 20px;
    top: 5px;
    left: 5px;
    font-size: 15px;
  }
}

@media screen and (max-width: 600px){
    h1{
        font-size: 28px;
        line-height: 50px;
        text-align: right;
    }
    #botones{
        margin-top: 15%;
        align-content: center;
    }
    #lista, #registrar, #rutinas{
        text-align: center;
        border:none;
        font-family: "Open Sans", sans-serif;
        font-size: 40px;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        outline: none;
        border-radius: 5px; 
        top:2px;
        color: white;
        background-color:#FD7314;
    }
    
    #lista:hover ,#registrar:hover ,#rutinas:hover{
        top:15px;
        background-color: #2E3040;
    }
    body {
        background-image: url("../img/galeria/fondo-small.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 100vh;
    } 
    
    #volver {
        min-width: 90px;
        height: 30px;
        position: absolute;
        top: 13px;
        left: 10px;
        color: #fff;
        padding: 0px;
        cursor: pointer;
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        border:none;
        border-radius: 50px;
        background-color: #FD7314;
    }
    
    
}


@media screen and (max-width: 980px){
    h1{
        font-size: 25px;
        line-height: 50px;
        text-align: right;
    }
    #botones{
        margin-top: 30%;
        align-content: center;
    }
    #lista, #registrar, #rutinas{
        text-align: center;
        border:none;
        font-family: "Open Sans", sans-serif;
        font-size: 21px;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        outline: none;
        border-radius: 5px; 
        top:2px;
        color: white;
        background-color:#FD7314;
    }
    
    #lista:hover ,#registrar:hover ,#rutinas:hover{
        top:15px;
        background-color: #2E3040;
    }
    body {
        background-image: url("../img/galeria/fondo-small.png");
        background-repeat: no-repeat;
        background-size: cover; 
        background-position: center;
        min-height: 100vh;
    } 
    
    #volver {
        min-width: 90px;
        height: 30px;
        position: absolute;
        top: 13px;
        left: 10px;
        color: #fff;
        padding: 0px;
        cursor: pointer;
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        border:none;
        border-radius: 50px;
        background-color: #FD7314;
    }
}













