/*
    boton Volver
       color---> Azul
    pagina home
        letra -> home encabezado
        tituloApp -> long old live +
        btn-EF -> ejercicios fisicos boton
    
    ejercicios fisicos
        letra -> ejercicios fisicos encabezado
        lista ->lista de ejercicios(boton)
        registrar -> registrar ejercicio

    Lista de ejercicios 
        letra-> Lista de ejercicios encabezado
    
    Registrar ejercicios 
    
*/

#tituloApp, #letra, #btnEF{
   font-family: "Open Sans", sans-serif;
}

#tituloApp{
    font-size: 80px;
    font-weight: bold;
}

.TodosTitulo{
    font-size: 48px !important;
    text-align: center !important;
}

#letra,#btnEF{
   font-size: 30px;
   font-weight: bold;
   margin-top: 15px;
}

#volver {
    min-width: 130px;
    height: 40px;
    position: absolute;
    top: 34px;
    left: 30px;
    color: #fff;
    padding: 0px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    border:none;
    border-radius: 5px;
    background-size: 120% auto;
  }
  
#volver:hover {
    background-position: right center;
    border-radius: 5px;
    padding-right: 24px;
    padding-left: 8px;
    color: black;
}
  
#volver:active {
    left: 1px;
    color: black;
}
  
#volver:hover:after {
    opacity: 1;
    right: 10px;
    color: black;
}
  
#volver:after {
    content: "\00AB";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 40px;
    top: 0;
    right: -20px;
    transition: 0.4s;
    color: black;
}

#lista, #registrar, #rutinas{
    text-align: center;
    border:none;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px; 
    top:2px;
    color: beige;
    background-color:#FD7314;
}

#lista:hover ,#registrar:hover ,#rutinas:hover{
       top:15px;
       background-color: #38204C;
}

#botones{
    margin-top: 10%;
    align-content: center;
}

 