/*COMPONENTES DEL JUEGO*/
.gameboard {
  height: 100vh;
  width: 100vh;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 10%;
  max-height: 60vh;
  max-width: 60vh;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

.color {
  width: 50%;
  height: 50%;
  display: inline-block;
}

.btn-start {
  cursor: pointer;
  width: 420px;
  height: 100px;
  background: #ecf0f1;
  color: #2c3e50;
  border: none;
  border: 2px solid #2c3e50;
  border-radius: 8px;
  font-size: 2em;
  letter-spacing: 1.5px;
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 210px);
  transition: 0.5s;
  outline: none;
}

.btn-start:hover {
  color: #ecf0f1;
  background: #2c3e50;
  border-bottom: 4px solid #1f3346;
  letter-spacing: -1px;
}

.btn-start:active {
  transform: scale(0.95);
}

.hide {
  display: none;
}
.color {
  width: 50%;
  height: 50%;
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: left;
}

.azul {
  background: green;
  transition: 0.2s;
  border-radius: 0% 0% 30%;
}

.azul.light {
  background: lime;
  transform: scale(1.03);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}




.verde {
  background: rgb(0, 153, 255);
  transition: 0.2s;
  border-radius: 30% 0% 0%;
}

.verde.light {
  background: skyblue;
  transform: scale(1.03);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.rosado {
  background: #c51616;;
  transition: 0.2s;
  border-radius: 0% 30% 0%;
}

.rosado.light {
  background: red;
  transform: scale(1.03);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.naranja {
  background: #f1c232;
  transition: 0.2s;
  border-radius: 0% 30% 0%;
}

.naranja.light {
  background: yellow;
  transform: scale(1.03);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}


@media screen and (max-width: 991px){
  .gameboard{
    margin-top: 15%;
  }
}


@media screen and (max-width: 500px){
  .gameboard{
    margin-top: 25%;
  }
}